<% if params[:name1].present? && params[:name2].present? %>

  <% first_name = params[:name1].capitalize %>

  <% second_name = params[:name2].capitalize %>

  <h3>Hello <%= first_name %>, have you met <%= second_name %>? <%= second_name %>, this is <%= first_name %>.</h3>
<% else %>
  <h1>Hello!</h1>
<% end %>
